<div>
    {{#if isEmpty}}
        <h3>No hay Productos</h3>
    {{else}}
        <table id="table-products">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.price}}</td>
                        <td><img style="width: 25%" src={{this.thumbnail}} alt=""></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>